<template>
    <div class="todo-list">
        <input type="text" class="todo-input" placeholder="Say hay" v-model="newTodo" @keyup.enter="addTodo">
        <div v-for="(todo, index) in todos" :key="todo.id" class="td-item">
            
            <div class="td-item-left">
                <input type="checkbox" v-model="todo.completed">
                <div v-if="! todo.editing" 
                    @dblclick="editTodo(todo)" 
                    class="td-item-label"
                    :class="{ completed: todo.completed }">
                    {{ todo.title }}
                </div>
                <input v-else v-focus
                    type="text" 
                    class="td-item-edit" 
                    v-model="todo.title" 
                    @blur="doneEdit(todo)" 
                    @keyup.enter="doneEdit(todo)" 
                    @keyup.esc="cancelEdit(todo)">
            </div>
            
            <div class="remove-item" @click="removeTodo(index)">
                &times;
            </div>

            <div class="extra-container">
                <div><label for=""><input type="checkbox">Check All</label></div>
                <div>{{ remaining }} item left</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'todo-list',
    data() {
        return {
            newTodo: '',
            newId: 3,
            beforeEditCache: '',
            todos: [
                {
                    'id': 1,
                    'title': 'hello Vue',
                    'completed': false,
                    'editing': false
                },
                {
                    'id': 2,
                    'title': 'updated new todo',
                    'completed': false,
                    'editing': false
                }
            ]
        }
    },
    directives: {
        focus: {
            inserted: (el) => {
                el.focus()
            }
        }
    },
    methods: {
        addTodo() {
            if(this.newTodo.trim().length == 0) {
                return
            }
            
            this.todos.push({
                id: this.newId,
                title: this.newTodo,
                completed: false
            });

            this.newTodo = '';
            this.newId++;
        },
        editTodo(todo) {
            this.beforeEditCache = todo.title
            todo.editing = true
        },
        doneEdit(todo) {
            if(todo.title.trim().length == 0) {
                todo.title = this.beforeEditCache
            }

            todo.editing = false
        },
        cancelEdit(todo) {
            todo.title = this.beforeEditCache
            todo.editing = false
        },
        removeTodo(item) {
            this.todos.splice(item, 1)
        }
    },
}
</script>

<style lang="scss">
    .todo-list {
        display: grid;

        .todo-input {
            width: 100%;
            font-size: 18px;
            margin-bottom: 16px;
            line-height: 2em;
            text-indent: 10px;

            &:focus {
                outline: 0;
            }
        }
        
        .td-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            
            .td-item-left {
                display: flex;
                align-items: center;
            }

            .td-item-label {
                padding: 10px;
                border: 1px solid white;
                margin-left: 12px;
            }

            .td-item-edit {
                color: #2c3e50;
                width: 100%;
                border: 1px solid #ccc;
                font-family: 'Avenir', Arial, Helvetica, sans-serif;
                line-height: 2em;
                text-indent: 10px;
                font-size: 18px;
                margin-left: 12px;
            }

            .remove-item {
                cursor: pointer;
                margin-left: 10px;

                &:hover {
                    color: black;
                }
            }
        }
    }
    .completed {
        text-decoration: line-through;
        color: #2c3e50;
    }
</style>
