<template>
  <div id="app">
    <div class="container">
      <img src="./assets/logo.png" class="logo">
      <h2>Vue Applications TODO</h2>
      <TodoList/>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
import TodoList from './components/TodoList'

export default {
  name: 'App',
  components: {
    // HelloWorld,
    TodoList
  }
}
</script>

<style lang="scss">
html, body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

    .container {
      max-width: 600px;
      margin: 0 auto;

      .logo {
        width: 100px;
      }
    }
}
</style>
